/*

    Created on : 05/05/2015, 11:41:55
    Author     : Maurício Dias
*/

html {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

/* estilização da barra de menu nav */

.menuv{

    display: block;
    padding: 20px 20px 0px auto;
    font-weight: bold;
    font-size: 14px;
    color:#777; 
}

a{
    text-decoration:none; /* tira o sublinhado do link */
    font-family: helvetica;
    font-weight: bold;
    max-width: 100%;

}


/* edição de logotipo  e carrossel*/
.logo {
    position: relative;
    left: -8px;
    top: 1px;
    height: 50px;


}

#myCarousel{
    margin: 100px auto 0px auto;
    position: relative;
    top: -40px;
    height: 400px; /*ajuste de  tamanho*/ 


}
.imgcarro{ /* centralização das imagens*/

    margin: 20px auto 0px auto;
    height: 100px;
}

.carousel-inner { /*Dimensão das imagens no carousel*/

    height: 400px;

}
.carousel-control.left,.carousel-control.right { /* laterais do botão*/
    background-image: none;

}



/* edição do login */
/*.lo
{
   
background-color: #c0a16b;
color: #FFF;
font-size: 1.2em;
left: -10px;
padding: 5px 0;
position: relative;
text-align: center;
width: 420px;
}

.lo::after {
border-color: transparent transparent #c0a16b #c0a16b;
border-style: solid;
border-width: 5px;
content: "";
position: absolute;
right: 0;
top: -10px;
}
.se
{
   
background-color: #c0a16b;
color: #FFF;
font-size: 1.2em;
left: -10px;
padding: 5px 0;
position: relative;
text-align: center;
width: 420px;
}

.se::after {
border-color: transparent transparent #c0a16b #c0a16b;
border-style: solid;
border-width: 5px;
content: "";
position: absolute;
right: 0;
top: -10px;
}
*/


/* estilização  da label/span/botão/mensagem */

label span,label {
    text-align: left;
    color:  #777;

}
input,.espan,#cCidade{

    margin: 1px 0px 3px 0px;
    border-radius: 7px;
    font-size: 15px;
    padding: 9px 0px 5px 0px;
    display: block;
    width: 100%;
}
label button,.btn btn-default,
.btn btn-default btn-lg, .btn-default {
    color: orangered;
    max-width: 100%;
    margin: 10px 8px 0px 0px;
    padding: 10px;


}

/* Estilização do formulário e todos os botões*/
#Cadusuario,#Contusuario
{
    border-radius: 7px;
    border: 1px solid #000;
    display: block;
    padding: 12px;
    margin: 20px auto;
    width: 350px;
    max-width: 100%;

}
legend{
    text-align: center;
}     

#btnCadastro,#btncontato{
    padding:5px auto 3px auto;

}

.footer{
    border: solid #000
}
.socialico li {
    list-style-type:none;
    display: inline-block;
    margin-left: 10px;
}
.socialico{ 

    padding: 12px;
    margin: 20px auto;
    width: 350px;
    max-width: 100%;
}

body{

}
/*centralização da caixa de login*/
#autenticar{
    position: relative;
    top: 50px;
    padding: 12px;
    margin: 20px auto;
    width: 260px;  
}
#autenticar input{
    padding: 8px 0px 5px 5px; 
    width: 340px; 
    max-width:95%;
   
}
#textoprojeto {
    background: black;
    border: solid black;
     margin: 80px 150px 0px 150px ;
     padding: 12px;
     font-size: 20px;
     font-family: Verdana;
    color: white;
     
        
}

